# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db

# Flask instance folder
instance/

# Environment variables
.env

# Logs
*.log

# macOS & Linux
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

